{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.campus) }}
                {{ form_row(form.search) }}
                {{ form_row(form.startDate) }}
                {{ form_row(form.EndDate) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.Organisator) }}
                {{ form_row(form.signIn) }}
                {{ form_row(form.notSignIn) }}
                {{ form_row(form.passed) }}
            </div>
            {{ form_end(form) }}
            <div class="col md 2">
                <button type="submit" id="searchFilter" class="btn btn-primary w-100">Rechercher</button>
            </div>
        </div>

    </div>

    <div class="container">
        <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm "
               >
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clotûre</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date }}</td>
                    <td>{{ sortie.dateLimiteInscription | date }}</td>
                    <td><h5>{{ sortie.participantInscrit.count }}/{{ sortie.nbInscriptionsMax }}</h5></td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% for participant in sortie.participantInscrit %}
                            {% if app.user == participant %}
                                <h5>X</h5>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('profil_participant', {'id': sortie.participantOrganisateur.id}) }}">{{ sortie.participantOrganisateur.pseudo }}({{ sortie.participantOrganisateur.nom }})</a></td>
                    <td>
                        {% if sortie.etat.libelle == 'Créée' %}
                            {% if app.user == sortie.participantOrganisateur %}
                                <a href="{{ path('sortie_edit', {'id': sortie.id}) }} ">Modifier</a> - <a href="{{ path('sortie_publish', {'id': sortie.id})}}">Publier</a>
                            {% endif %}
                        {% elseif sortie.etat.libelle == 'Ouverte' %}
                            <a href="{{path('sortie_display', {'id': sortie.id})}}">Afficher</a>
                            {% if sortie.participantInscrit.contains(app.user) %}
                                    - <a href="{{path('sortie_sign_out', {'id': sortie.id})}}">Se désister</a>
                            {% else %}
                                    - <a href="{{path('sortie_sign_in', {'id': sortie.id})}}">S'inscrire</a>
                            {% endif %}
                            {% if app.user == sortie.participantOrganisateur %}
                                - <a href="{{path('sortie_sign_out', {'id': sortie.id})}}">Annuler</a>
                            {% endif %}
                        {% elseif sortie.etat.libelle == 'Clôturée' %}
                            <a href="{{path('sortie_display', {'id': sortie.id})}}">Afficher</a>
                            {% for participant in sortie.participantInscrit %}
                                {% if app.user == participant %}
                                    - <a href="{{path('sortie_sign_out', {'id': sortie.id})}}">Se désister</a>
                                {% endif %}
                            {% endfor %}
                            {% if app.user == sortie.participantOrganisateur %}
                                - <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}">Annuler</a>
                            {% endif %}
                        {% elseif sortie.etat.libelle == 'Activité en cours' %}
                            <a href="{{path('sortie_display', {'id': sortie.id})}}">Afficher</a>
                        {% elseif sortie.etat.libelle == 'Passée' %}
                            <a href="{{path('sortie_display', {'id': sortie.id})}}">Afficher</a>
                        {% elseif sortie.etat.libelle == 'Annulée' %}
                            <a href="{{path('sortie_display', {'id': sortie.id})}}">Afficher</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <a href="{{ path('sortie_create') }}" class="btn btn-primary">Créer une sortie</a>









<script>
    $(document).ready(function () {
        $('#dtDynamicVerticalScrollExample').DataTable({
            "scrollY": "50vh",
            "scrollCollapse": true,
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock %}