{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Dashboard
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="form-user-manuel">
                    Créer un Participant :<br>
                    {{ form_start(userForm) }}
                    {{ form_widget(userForm) }}
                    <button>Enregistrer</button>
                    {{ form_end(userForm) }}
                </div>
            </div>
            <div class="col-5">
                <div class="form-user-fichier">
                    Créer un ou des participants avec un fichier .csv :<br>

                </div>
            </div>
        </div>
        <div class="row">
            <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm ">
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
                {% for p in participants %}
                    <tr>
                        <td>{{ p.pseudo }}</td>
                        <td>
                            <a href="{{ path('profil_participant',{'id': p.id}) }}">
                                {{ p.prenom }} {{ p.nom | upper }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_dashboard_desactive', {'id': p.id}) }}">Désactiver</a> -
                            <a href="{{ path('admin_dashboard_remove', {'id': p.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}