{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Sortie
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <h1 class="flex-row">Sortie de {{ sortieDisplay.participantOrganisateur.pseudo }}</h1>
            <div class="row">
                <div class="col-3" id="affiche-noir">Nom de la sortie :</div>
                <div class="col-4">{{ sortieDisplay.nom }}</div>
                <div class="col-2" id="affiche-noir">Campus :</div>
                <div class="col-3">{{ sortieDisplay.campusSiteOrganisateur.nom }}</div>

                <div class="col-3" id="affiche-noir">Date et heure de la sortie :</div>
                <div class="col-4">{{ sortieDisplay.dateHeureDebut | date('d/m/Y H:i') }}</div>
                <div class="col-2" id="affiche-noir">Lieu :</div>
                <div class="col-3">{{ sortieDisplay.lieu.nom }}</div>

                <div class="col-3" id="affiche-noir">Date limite d'inscription :<br></div>
                <div class="col-4">{{ sortieDisplay.dateLimiteInscription | date('d/m/Y')}}<br></div>
                <div class="col-2" id="affiche-noir">Rue :<br></div>
                <div class="col-3">{{ sortieDisplay.lieu.rue }}<br></div>

                <div class="col-3" id="affiche-noir">Nombre de place :<br></div>
                <div class="col-4">{{ sortieDisplay.nbInscriptionsMax }}<br></div>
                <div class="col-2" id="affiche-noir">Code Postal :<br></div>
                <div class="col-3">{{ sortieDisplay.lieu.ville.codePostal }}<br></div>

                <div class="col-3" id="affiche-noir">Durée :<br></div>
                <div class="col-4">{{ sortieDisplay.duree }} minutes<br></div>
                <div class="col-2" id="affiche-noir">Latitude :<br></div>
                <div class="col-3">{{ sortieDisplay.lieu.latitude }}<br></div>

                <div class="col-3" id="affiche-noir">Descriptions et infos :<br></div>
                <div class="col-4">{{ sortieDisplay.infosSortie }}<br></div>
                <div class="col-2" id="affiche-noir">Longitude :<br></div>
                <div class="col-3">{{ sortieDisplay.lieu.longitude }}<br></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-7">
                Listes des participants :<br>
                {% if sortieDisplay.participantInscrit.count !=0 %}
                    <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm ">
                        <tr>
                            <th>Pseudo</th>
                            <th>Nom</th>
                        </tr>
                        {% for inscrit in sortieDisplay.participantInscrit %}
                            <tr>
                                <td>{{ inscrit.pseudo }}</td>
                                <td>
                                    <a href="{{ path('profil_participant',{'id': inscrit.id}) }}">
                                        {{ inscrit.prenom }} {{ inscrit.nom | upper }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    Aucun participant n'est inscrit à cette sortie !
                {% endif %}
            </div>
            <div class="col-5 align-items-center">
                <a class="btn btn-primary" href="{{ path('main_home') }}" role="button">Retour Accueil</a>
            </div>
        </div>
    </div>
{% endblock %}