{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="m-3">Modifier la sortie</h1>
    <div class="row">
        <div class="col-sm-5">
            {{ form_start(editForm) }}
            {{ form_row(editForm.nom) }}
            {{ form_row(editForm.dateHeureDebut) }}
            {{ form_row(editForm.dateLimiteInscription) }}
            {{ form_row(editForm.nbInscriptionsMax) }}
            {{ form_row(editForm.duree) }}
            {{ form_row(editForm.infosSortie) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(editForm.campusSiteOrganisateur) }}
            {{ form_row(editForm.ville) }}
            {{ form_row(editForm.codePostal) }}
            {{ form_row(editForm.lieu) }}
            <div class="col-sm-5">
                <a href="{{ path('lieu_create') }}" class="btn btn-primary">Ajouter un lieu</a>
            </div>
            {{ form_row(editForm.rue) }}
            {{ form_row(editForm.latitude) }}
            {{ form_row(editForm.longitude) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 offset-sm-3">
            <button type="submit" class="btn btn-success" name="save" value="save">Enregistrer</button>
        </div>
        <div class="col-sm-4 offset-sm-3">
            <button type="submit" class="btn btn-success" name="publish" value="publish">Publier la sortie</button>
        </div>
        <div class="col-sm-4 offset-sm-3">
            <button type="submit" class="btn btn-success" name="cancel" value="cancel">Supprimer la sortie</button>
        </div>
        <div class="col-sm-4">
            <a href="{{ path('main_home') }}" class="btn btn-danger">Annuler</a>
        </div>
    </div>

    <script>
        let $ville = $(`#edit_sortie_ville`);
        $ville.change(function () {
            $.ajax({
                url: "{{ path('sortie_list_lieu') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    "villeId": $ville.val(),
                },
                success: function (lieux) {
                    let lieuSelect = $('#edit_sortie_lieu');
                    lieuSelect.html('');
                    lieuSelect.append('<option value> Choisissez un lieu de '
                        + $ville.find("option:selected").text()
                        + ' ...</option>');
                    $.each(lieux, function (key, lieu) {
                        lieuSelect.append('<option value="' + lieu.id + '">' + lieu.name + '</option>');
                        let cdpSelect = $('#edit_sortie_codePostal');
                        cdpSelect.html('');
                        cdpSelect.val(this.cdp);
                        console.log(this);
                    });
                },
                error: function (err) {
                    alert("Une erreur s'est produite en chargeant les données...");
                }
            });
        });
        let $lieu = $('#edit_sortie_lieu');
        $lieu.change(function () {
            $.ajax({
                url: "{{ path('sortie_lieu_details') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    "lieuId": $lieu.val()
                },
                success: function (retourArray) {
                    $.each(retourArray, function() {
                        let rueSelect = $('#edit_sortie_rue');
                        rueSelect.html('');
                        rueSelect.val(this.rue);
                        let latitudeSelect = $('#edit_sortie_latitude');
                        latitudeSelect.html('');
                        latitudeSelect.val(this.latitude);
                        let longitudeSelect = $('#edit_sortie_longitude');
                        longitudeSelect.html('');
                        longitudeSelect.val(this.longitude);
                    });
                },
                error: function (err) {
                    alert("Une erreur s'est produite en chargeant les données...");
                }
            });
        });
    </script>
{% endblock %}