<nav>
    <a href="{{ path('main_home') }}"><h1 id="logo" class="nav-h1">Sortir.com</h1></a>
    <ul>

        {% if app.user %}
            <li><a href="{{ path('main_home') }}" title="Home">Accueil</a></li>
            <li><a href="{{ path('profil_MonProfil') }}" title="Profil">Mon Profil</a></li>
            <li><a href="{{ path('app_logout') }}" title="Logout">Se déconnecter</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('admin_ville') }}" title="City">Villes</a></li>
                <li><a href="{{ path('admin_campus') }}" title="Campus">Campus</a></li>
                <li><a href="{{ path('admin_dashboard') }}" title="Dashboard">Dashboard</a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>