{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profil de {{ participant.pseudo }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <h1 class="flex-row">{{ participant.pseudo }}</h1>
        </div>
        <div class="row">
            <div class="col-4">
                {% if participant.photo is not empty %}
                    <img src="{{ asset('upload/'~participant.photo.nom) }}" alt="{{ participant.photo.nom }}" id="ppUser">
                {% endif %}
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3" id="affiche-noir">
                        Prénom : <br>
                    </div>
                    <div class="col-6">
                        {{ participant.prenom }}<br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" id="affiche-noir">
                        Nom : <br>
                    </div>
                    <div class="col-6">
                        {{ participant.nom }}<br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" id="affiche-noir">
                        Téléphone : <br>
                    </div>
                    <div class="col-6">
                        {% if participant.telephone %}
                            {{ participant.telephone }}<br>
                        {% else %}
                            Le numéro de ce participant n'a pas était fourni <br>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" id="affiche-noir">
                        Email : <br>
                    </div>
                    <div class="col-6">
                        {{ participant.mail }}<br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" id="affiche-noir">
                        Campus : <br>
                    </div>
                    <div class="col-6">
                        {{ participant.campus.nom }}<br>
                    </div>
                </div>
                <div>
                    <a class="btn btn-primary" href="{{ path('main_home') }}" role="button">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}